
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
}

header{
    background: #222;
    color:white;
    padding: 20px 0;
}

.intro{
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.intro h1{
    margin: 0px ;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
   margin: 0px ;
   padding: 0px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: yellow;
    transition: 0.3s;
}

section {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h1{
    color: #222;
    margin-top: 0px;
}

.project-images{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.project-images img{
    width: 50%;
    object-fit:cover;
    border-radius: 8px;
}

.project-images img:hover {
    border-color: skyblue;
}
form{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 6px;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    width: 150px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .project-images {
        flex-direction: column;
    }

    .project-images img {
        width: 100%;
    }
}